body {
  background: linear-gradient(45deg, yellow, purple);  
  font: normal, 15pt, Arial;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

img {
  padding: 50px;
  width: 50%;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  width: 230px;
  margin-right: 10px;
}

button {
  border: 1px solid purple;
  border-radius: 5px;
  background-color: rgb(240, 208, 240);
  color: purple;
  transition-duration: 0.4s;
  text-align: center;
  padding: 5px;
}

button:hover {
  background-color: purple;
  color: white;
}

footer {
  color: white;
  text-align: center;
}